---
title_1: Cancellation Confirmation,
title_2: your order has been successfully cancelled
subtitle: We’re sorry this order didn’t work out for you. But we hope we’ll see you again.
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component src="src/components/wrapper.html">
      <component src="src/components/header.html"></component>
      <component src="src/components/spacer_200.html"></component>
      <component src="src/components/title.html">
        <span class="text-caption-all pb-[8px] pt-[32px]">
          If this was an error, please contact:
        </span>
        <span class="text-caption-all">
          Customer service <br />
          <a href="info@hyejaskincare.com">info@hyejaskincare.com</a>
        </span>
      </component>
      <component src="src/components/spacer_80.html"></component>
      <component src="src/components/row.html">
        <span class="w-full py-[8px]">Cancelled Item(s)</span>
        <span class="w-full"></span>
        <span class="w-full"></span>
        <span class="w-full"></span>
      </component>
      <component src="src/components/border-t.html"></component>
      <component src="src/components/order_id.html"></component>
      <component src="src/components/items.html"></component>
      <component src="src/components/totals.html"></component>
      <component src="src/components/button.html">View Order</component>
      <component src="src/components/spacer_40.html"></component>
      <component src="src/components/details.html"></component>
      <component src="src/components/spacer_120.html"></component>
      <component src="src/components/footer.html"></component>
    </compponent>
  </block>
</extends>
