---
title_1: Cancellation Confirmation,
title_2: your order has been successfully cancelled
subtitle: We’re sorry this order didn’t work out for you. But we hope we’ll see you again.
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component src="src/components/wrapper.html">
      <!-- <component src="src/components/abandoned_cart.html"></component> -->
      <!-- <component src="src/components/head.html"> -->
      <component src="src/components/header.html"></component>
      <component src="src/components/title.html">
        <p class="text-caption-all pb-[8px] pt-[32px]">
          If this was an error, please contact:
        </p>
        <p class="text-caption-all">
          Customer service <br />
          <a href="info@hyejaskincare.com">info@hyejaskincare.com</a>
        </p>
      </component>
      <component src="src/components/row.html">
        <p class="w-full">Cancelled Item(s)</p>
        <p class="w-full"></p>
        <p class="w-full"></p>
        <p class="w-full"></p>
      </component>
      <component src="src/components/row_bt.html">
        <p class="w-full">Order #2012</p>
        <p class="w-full"></p>
        <p class="w-full"></p>
        <p class="w-full"></p>
      </component>
      <component src="src/components/items.html"></component>
      <component src="src/components/row_bt.html">
        <p class="w-full"></p>
        <p class="w-full"></p>
        <p class="w-full">Subtotal:</p>
        <if condition="page.env === 'shopify'">
          <p class="w-full">@{{ subtotal_price | money_with_currency }}</p>
        </if>
        <else>
          <p class="w-full">${{ subtotal_price + money_with_currency }}</p>
        </else>
      </component>
      <component src="src/components/row_bt.html">
        <p class="w-full"></p>
        <p class="w-full"></p>
        <p class="w-full">Shipping:</p>
        <if condition="page.env === 'shopify'">
          <p class="w-full">@{{ shipping_price | money_with_currency }}</p>
        </if>
        <else>
          <p class="w-full">${{ shipping_price + money_with_currency }}</p>
        </else>
      </component>
      <component src="src/components/row_bordered.html">
        <p class="w-full"></p>
        <p class="w-full"></p>
        <p class="w-full">Tax:</p>
        <p class="w-full">$0.00</p>
      </component>
      <component src="src/components/row_bt_thick.html">
        <p class="w-full">Total:</p>
        <p class="w-full"></p>
        <p class="w-full"></p>
        <if condition="page.env === 'shopify'">
          <p class="w-full">$@{{ total_price | money_with_currency }}</p>
        </if>
        <else>
          <p class="w-full">${{ total_price + money_with_currency }}</p>
        </else>
      </component>
      <component src="src/components/button.html">
View Order</component>
      <component src="src/components/details.html"></component>
      <component src="src/components/spacer_120.html"></component>
      <component src="src/components/footer.html"></component>
      <!-- <component src="src/components/addresses.html"></component> -->
    </compponent>
  </block>
</extends>
