---
title_1: Refund Confirmation,
title_2: we're processing it for you now
subtitle: We have processed your refund per your request. Please allow us 3–5 business days for the payment to be processed.
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component src="src/components/wrapper.html">
      <!-- <component src="src/components/abandoned_cart.html"></component> -->
      <!-- <component src="src/components/head.html"> -->
        <component src="src/components/header.html"></component>
        <component src="src/components/spacer_200.html"></component>
        <component src="src/components/title.html"></component>
        <component src="src/components/spacer_80.html"></component>
        <component src="src/components/row.html">
          <p class="w-full">Cancelled Item(s)</p>
          <p class="w-full"></p>
          <p class="w-full"></p>
          <p class="w-full"></p>
        </component>
      <component src="src/components/border-t.html"></component>
      <component src="src/components/order_id.html"></component>
      <component src="src/components/items.html"></component>
      <component src="src/components/totals.html"></component>
      <component src="src/components/refund.html"></component>
      <component src="src/components/button.html"> View Order</component>
      <component src="src/components/spacer_40.html"></component>
      <component src="src/components/details.html"></component>
      <component src="src/components/spacer_120.html"></component>
      <component src="src/components/footer.html"></component>
    </component>
  </block>
</extends>
