---
title_1: Your order has been shipped
subtitle: Your order is on it's way.
---

<extends src="src/layouts/main.html">
  <block name="template">
    <component src="src/components/wrapper.html">
      <component src="src/components/header.html"></component>
      <component src="src/components/spacer_200.html"></component>
      <component src="src/components/title.html">
        <p class="text-caption-all pb-[16px] pt-[16px] max-w-[252px]">
          You can check out the shipping details or track your order by clicking
          thelink below.
        </p>
        <table class="min-w-[131px]">
          <tr class="w-full">
            <td 
            align="center"
            class="bg-[#070707] w-full cursor-pointer"
            >
            <a
              style="color: white !important;"
              class="text-center no-underline text-body text-middle tracking-body w-full bg-[#000]"
              href="https://www.yumeibrand.com/?action=ACTIVATE&amp;url={{ customer.account_activation_url | escape }}"
              target="_blank"
              rel="noopener noreferrer"
              >
                Track Order
              </a>
            </td>
          </tr>
          </table>
      </component>
      <component src="src/components/spacer_56.html"></component>
      <component src="src/components/details.html"></component>
      <component src="src/components/spacer_80.html"></component>
      <component src="src/components/order_id.html"></component>
      <component src="src/components/items.html"></component>
      <component src="src/components/totals.html"></component>
      <component src="src/components/button.html"> View Order</component>
      <component src="src/components/spacer_40.html"></component>
      <component src="src/components/footer.html"></component>
    </component>
  </block>
</extends>
