<table>
    <tr>
      <td>
        <if condition="page.env === 'shopify'">
          <p class="bg-red-100">
            {% billing_address.first_name %}
              {% if item_count == 1 %}
                Hi @{{ billing_address.first_name }},
              {% else %}
                Hi @{{ billing_address.first_name }},
              {% endif %}
            {% else %}
              Hi,
            {% endif %}
          </p>
          {% if custom_message != blank %}
            <p>{{ custom_message }}</p>
          {% else %}
            <p>We are holding the items in your cart.</p>
            <p>If you need any help or assistance feel free to reach out to us.</p>
            <p>Thank you!</p>
          {% endif %}
        </if>
        <else>
          <p class="bg-red-100">
            <if condition="billing_address.first_name">
              <if condition="item_count == 1">
                Hi {{ billing_address.first_name }},
              </if>
              <else>
                Hi {{ billing_address.first_name }},
              </else>
            </if>
            <else>
              Hi,
            </else>
            <div>
              <if condition="custom_message">
                <p>
                  {{ custom_message }} custom message
                </p>
              </if>
              <else>
                <p>We are holding the items in your cart.</p>
                <p>If you need any help or assistance feel free to reach out to us.</p>
                <p>Thank you!</p>
              </else>
            </div>
        </else>
      </td>
    </tr>
  </table>
