<mj-raw>
  {% capture email_title %}Welcome to Club Yu Mei{% endcapture %} {% capture
  email_body %}
  <p>
    Club Yu Mei is a community of like-minded, forward-thinking individuals.
    It’s an inclusive space by real people, for real people.
  </p>
  <p>
    By signing up, you’ve unlocked a world of delights both online and off. In
    our digital Club space, you’ll find interviews, conversations and notes from
    the team and those who inspire us. Members will also be the first to hear
    about our series of Club events, from Archive Sales to dinner parties;
    digital drinks to debates.
  </p>

  <p>We’re so pleased you’ve joined us!</p>
  <p>Yu Mei x</p>
  {% endcapture %}
</mj-raw>

<mj-section mj-class="main-copy-section">
  <tr mj-class="main-copy-column">
    <mj-text mj-class="main-copy-text">
      <p>{{ email_title }}</p>
      <p>{{ email_body }}</p>
    </mj-text>
  </tr>
</mj-section>

<mj-section padding-top="20px" padding-bottom="20px">
  <tr>
    <mj-text>
      <div class="button-wrapper">
        <a
          class="button"
          href="https://yumeibrand.com/collections/all"
          target="_blank"
          rel="noopener noreferrer"
        >
          View Store
        </a>
      </div>
    </mj-text>
  </tr>
</mj-section>
