<table mj-class="address-section">
  <tr mj-class="address-heading">
    <td>Shipping Address</td>
  </tr>
  <tr mj-class="address-content">
    <td>
      {{ shipping_address.name }} {% if shipping_address.address1 %}
      <br />{{ shipping_address.address1 }} {% endif %} {% if
      shipping_address.address2 %} <br />{{ shipping_address.address2 }} {%
      endif %} {% if shipping_address.city %} <br />{{ shipping_address.city }},
      {% endif %} {% if shipping_address.province %} {{
      shipping_address.province }} {% endif %} {{ shipping_address.zip }}
      <br />{{ shipping_address.country }}
    </td>
  </tr>
</table>

<if condition="shipping_method.title"></if>
<mj-section mj-class="address-section">
  <tr mj-class="address-heading">
    <mj-text> Delivery Method </mj-text>
  </tr>
  <tr mj-class="address-content">
    <mj-text> {{ shipping_method.title }} </mj-text>
  </tr>
</mj-section>
<mj-raw>{% endif %}</mj-raw>

<mj-section mj-class="address-section">
  <tr mj-class="address-heading">
    <mj-text> Delivery Address </mj-text>
  </tr>
  <tr mj-class="address-content">
    <mj-text>
      
    </mj-text>
  </tr>
</mj-section>

<mj-raw>{% if gateway %} </mj-raw>
<mj-section mj-class="address-section">
  <tr mj-class="address-heading">
    <mj-text> Payment Method </mj-text>
  </tr>
  <tr mj-class="address-content">
    <mj-text> {{ gateway }} </mj-text>
  </tr>
</mj-section>
<mj-raw>{% endif %}</mj-raw>

<mj-section padding-top="0" padding-bottom="8px">
  <tr>
    <mj-divider mj-class="divider" />
  </tr>
</mj-section>

<mj-section mj-class="address-footer">
  <tr>
    <mj-text>
      If you have any questions, reply to this email or contact us at
      <a class="grey" href="mailto:contact@yumeibrand.com" target="_blank"
        >contact@yumeibrand.com</a
      >
    </mj-text>
  </tr>
</mj-section>
