<mj-section padding-top="20px" padding-bottom="50px">
  <tr mj-class="buttons-column">
    <mj-text>
      <div class="button-wrapper">
        <a
          class="button"
          href="{{ order_status_url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          View Order
        </a>
      </div>
    </mj-text>
  </tr>
  <tr mj-class="buttons-column">
    <mj-text>
      <div class="button-wrapper">
        <a
          class="button"
          href="https://yumeibrand.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          View Store
        </a>
      </div>
    </mj-text>
  </tr>
</mj-section>
