<table
    class="w-full"
>
    <tr class="w-full flex flex-row justify-between text-caption leading-caption gap-1 tracking-body">
        <td class="column w-full">
            <p>Inquiries: </p>
            <p>Customer service: </p>
            <a target="_blank" href="{{ page.company.links.contact }}" class="m-0">info@hyejaskincare.com</a></br>
            
            <p class="pb-4 mt-8">We Combined pristine quality Vegan EWG Ingredients with State-of-the-art Korean Technology
                 to formulate the most Effective Skincare.</p>
            <p class="text-[#8C8C8C]">© 2022 ASEZ CORP. All rights reserved.</p></br>
        </td>
        <td class="column w-full">
            <p class="pb-2">Follow Us: </p>
            <a target="_blank"  href="{{ page.company.socials.facebook }}">Facebook</a></br>
            <a target="_blank"  href="{{ page.company.socials.instagram }}">Instagram</a></br>
            <a target="_blank" href="{{ page.company.socials.instagram }}">Tiktok</a></br>
        </td>
        
</tr>
</table>
