<mj-raw>
  {% capture email_body %} {% if gift_card.customer %}
  <p>Hi {{ gift_card.customer.first_name }}</p>
  <p>
    Here is your {{ gift_card.balance | money_without_trailing_zeros }} Gift
    Card. Treat yourself, or send it to someone else as a gift – lucky them! {%
    else %}
  </p>

  <p>Hi</p>
  <p>
    Here is your {{ gift_card.balance | money_without_trailing_zeros }} gift
    card. Treat yourself, or send it to someone else as a gift – lucky them!
  </p>
  {% endif %}
  <p>Yu Mei x</p>
  {% endcapture %}
</mj-raw>

<mj-section mj-class="main-copy-section">
  <tr mj-class="main-copy-column">
    <mj-text mj-class="main-copy-text">
      <p>{{ email_body }}</p>
    </mj-text>
  </tr>
</mj-section>

<mj-include path="../common/button_gift.mjml" />

<mj-section mj-class="main-copy-section" padding-bottom="50px">
  <tr mj-class="main-copy-column">
    <mj-text mj-class="main-copy-text">
      <p>
        Gift Cards are non - refundable, and if lost cannot be redeemed. Gift
        cards are valid for three years from the date of purchase.
      </p>
      <p>
        If you have any questions, reply to this email or contact us at
        <a class="grey" href="mailto:contact@yumeibrand.com" target="_blank"
          >contact@yumeibrand.com</a
        >
      </p>
    </mj-text>
  </tr>
</mj-section>
