<if condition="page.env === 'shopify'">
  <raw>
    <table class="w-full h-full text-body-all">
      <tbody>
        {% for line in line_items %} {% assign title = line.title | split: '/'
        %}
        <tr>
          <td class="h-[1px] bg-[#DBD9D3] w-full"></td>
        </tr>
        <tr class="w-full h-[120px] max-h-[120px]">
          <td>
            <table class="column-3 w-full max-h-full h-[120px]">
              <tr>
                <td class="w-[118px]">
                  <img src="@{{ line.image  | img_url: '120x120', crop: 'center'  }}"
                    style="width: 120px; height: 120px; vertical-align:top;"
                  alt="">
                </td>
                <td class="w-full py-[8px] pl-[8px] h-full">
                  <table class="h-full">
                    <tr>
                      <td valign="top">
                        <p class="pb-8px max-w-[140px]">
                          @{{ title[0] }} @{{ title[1] }}
                          <br>
                          <span>
                            95ml / 3.2 fl.oz
                          </span>
                        </p>
                      </td>
                    </tr>
                    <tr valign="bottom">
                      <td>
                        <p>
                          @{{ line.line_price | money_with_currency }}
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td valign="top">
                  <p class="pt-[8px] pr-[8px] w-[80px]" align="right">
                    Qty x @{{ line.quantity }}
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </raw>
</if>
<else>
  <table class="w-full h-full text-body-all">
    <tr>
      <td class="h-[1px] bg-[#DBD9D3] w-full"></td>
    </tr>
    <tr class="w-full h-[120px] max-h-[120px]">
      <td>
        <table class="column-3 w-full pl-[8px] py-[8px] max-h-full h-[120px]">
          
          <tr>
            <td class="w-[118px]">
              <img src="./images/item_1.png" alt="Maizzle" width="120" />
            </td>
            <td class="w-full py-[8px] pl-[8px] align-top h-full">
              <table class="h-full">
                <tr>
                  <td valign="top">
                    <p class="pb-8px max-w-140px">
                        Niacinamide Heartleaf
                      <span>
                        95ml / 3.2 fl.oz
                      </span>
                    </p>
                  </td>
                </tr>
                <tr valign="bottom">
                  <td>
                    <p>
                      $26.00 USD
                    </p>
                  </td>
                </tr>
              </table>
            </td>
            <td valign="top">
              <p class="pt-[8px] pr-[8px] w-[80px]" align="right">
                Qty x 1
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</else>
