<if condition="page.env === 'shopify'">
  <raw>
    <table class="w-full h-full">  
      <tr class="w-full flex justify-between border-t">
        <td class="flex">
          {% for line in line_items %}
          {% assign title = line.title | split: '/' %}
          <img src="@{{ line.image  | img_url: '120x120' }}" width="120" />
          <div
          class="pl-2 text-body-all flex flex-col justify-between py-[8px]"
          >
            <div class="h-full w-full">
              <p class="pb-2">
                @{{ title[0] }}<br />
                @{{ title[1] }}
              </p>
            </div>
            <p>@{{ line.line_price | money_with_currency }}</p>
          </div>
        </td>
        <td class="h`-full flex justify-end">
          @{{ line.quantity }}
        </td>
        {% endfor %}
      </tr>
    </table>
  </raw>
</if>
<else>
  <table class="w-full h-full text-body-all">
    <tr class="w-full flex justify-between border-t">
      <td class="flex">
        <img src="./images/item_1.png" alt="Maizzle" width="120" />
        <div
          class="pl-2 flex flex-col justify-between py-[8px]"
        >
          <div class="h-full w-full">
            <p class="pb-2">
              Niacinamide Heartleaf <br />
              Calming Serum
            </p>
            <p>95ml / 3.2 fl.oz</p>
          </div>
          <p>$26.00 USD</p>
        </div>
      </td>
      <td class="flex justify-end">
        <p>Qty × 1</p>
      </td>
    </tr>
    <tr class="w-full flex justify-between border-t">
      <td class="flex">
        <img src="./images/item_2.png" alt="Maizzle" width="120" />
        <div
          class="pl-2 flex flex-col justify-between py-[8px]"
        >
          <div class="h-full w-full">
            <p class="pb-2">
              Niacinamide Heartleaf <br />
              Calming Serum
            </p>
            <p>95ml / 3.2 fl.oz</p>
          </div>
          <p>$26.00 USD</p>
        </div>
      </td>
      <td class="flex justify-end">
        <p>Qty × 1</p>
      </td>
    </tr>
  </table>
</else>
