<table
  class="section w-full h-[250px] px-[16px]"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
>
  <tr class="w-full border-b border-black">
    <td class="column w-full py-1">Order #2012</td>
  </tr>
  <tr class="w-full flex flex-row justify-between">
    <td class="column w-full border-b">
      <table class="w-full">
        <tr class="w-full flex">
          <td class="w-1/5 h-full">
            <img
              src="images/logo.png"
              width="full"
              alt="Maizzle"
              class="max-w-full align-middle [border:0]"
            />
          </td>
          <td class="w-2/5 p-2">
            <span class="flex flex-col">
              <p>Niacinamide Heartleaf Calming Serum</p>
              <p>95ml / 3.2 fl.oz</p>
            </span>
            <p>$26.00 USD</p>
          </td>
          <td class="grow-1 flex justify-end w-2/5">
            <p>Qty × 1</p>
          </td>
        </tr>
      </table>
    </td>
    <td class="column">
      <a href="https://maizzle.com"> </a>
    </td>
  </tr>
</table>
