<mj-section mj-class="main-copy-section">
  <tr mj-class="main-copy-column">
    <mj-text mj-class="main-copy-text">
      <p>
        {% if billing_address.first_name %} {% if item_count == 1 %} Hi, {{
        billing_address.first_name }}, {% else %} Hi, {{
        billing_address.first_name }}, {% endif %} {% else %} Hi, {% endif %}<br />
      </p>
      <p>
        Thank you for shopping with us online. For further queries around
        shipping and orders,
        <a class="grey" href="mailto:contact@yumeibrand.com" target="_blank"
          >contact us</a
        >.
      </p>
      <p>
        While you await your order, we invite you discover the universe of
        <a class="grey" href="https://yumeibrand.com/journal/" target="_blank"
          >Club Yu Mei</a
        >
      </p>
      <p>Yu Mei x</p>
    </mj-text>
  </tr>
</mj-section>
