<center
  class="w-full h-full bg-[#F5F5F5] py-[40px]"
  style="table-layout: fixed"
>
  <table class="w-[600px] bg-[#F5F2EF] shadow-sm">
    <tbody>
      <tr class="w-full">
        <td
          class="py-[40px] text-slate-700 text-base text-left leading-6 w-full"
        >
          <table class=" h-full">
            <tbody>
              <tr>
                <td class="h-full pr-[16px] pl-[24px]">
                  <p style="background: #dbd9d3; padding-left: 1px;" class="h-full">
                  </p>
                </td>
                <td class="pl-[16px] pr-[40px] h-full w-full">
                  <content></content>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</center>
