
.border-left {
  border-left: 1px solid #DBD9D3;
}

a.button { 
    display:block;
    padding: 5px 12px;
    background: #414042; 
    border: 1px solid #414042; 
    color:#fff !important;
    text-align:center;
    margin-top: 20px;
  }
  
  a.button:hover {
    background: #000 !important;
  } 

  a.grey { 
    color:#8D8D8D !important;
  }
  
  a.grey:hover {
    color: #414042 !important;
  } 
  
  
  a:hover { text-decoration: none !important; } 

  .type-body-s {
    font-size: 9px;
  }

  .border-tb {
    border-top: 1px solid #DBD9D3;
    border-bottom: 1px solid #DBD9D3;
  }
  
  .border-t {
    border-top: 1px solid #DBD9D3;
  }
  
  .border-t-thick {
    border-top: 2px solid #000;
  }
  
  html {
    font-weight: 400;
    font-family: "Georgia", serif;
  }
  
  a {
    color: #8C8C8C;
  }
  
  p {
    margin: 0;
  }
  