/* Tailwind CSS components */
@import "tailwindcss/components";

/**
* @import here any custom CSS components - that is, CSS that
* you'd want loaded before the Tailwind utilities, so the
* utilities can still override them.
*/

/* Tailwind CSS utility classes */
@import "tailwindcss/utilities";

/* Your custom utility classes */
@import "utilities";
@import "components";

@tailwind base;

@layer base {
  html {
    font-weight: 400;
    font-family: "Georgia", serif;
  }
  
  a {
    color: #8C8C8C;
  }
  
  p {
    margin: 0;
  }

}

:root {
  color-scheme: light dark;
}

.text-body-all {
  @apply text-body leading-body tracking-body font-normal font-primary;
}

.text-caption-all {
  @apply text-caption leading-body tracking-body font-normal font-primary;
}

.text-heading-all {
  @apply text-heading leading-heading tracking-heading font-normal font-primary;
}

