/* Tailwind CSS components */
@import "tailwindcss/components";

/**
* @import here any custom CSS components - that is, CSS that
* you'd want loaded before the Tailwind utilities, so the
* utilities can still override them.
*/

/* Tailwind CSS utility classes */
@import "tailwindcss/utilities";

/* Your custom utility classes */
@import "utilities";
@import "components";

@tailwind base;

@layer base {
  a:link {
    color: #8C8C8C !important;
    text-decoration: underline;
  }
  
  h5 {
    margin: 0;
    padding: 0;
    @apply text-body leading-body tracking-body font-normal font-primary;
  }
  h6 {
    margin: 0;
    padding: 0;
    @apply text-caption leading-caption tracking-body font-normal font-primary;
  }
  
  p {
    margin: 0;
    color: #070707;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Georgia.woff2") format("woff2"), url("/fonts/Georgia.woff") format("woff");
  }
  img {
    border: 0;
  }
  td {
    padding: 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    cellpadding: 0;
    border: 0;
    cellspacing: 0;
  }
  body {
    margin: 0;
  }
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Georgia.woff2") format("woff2"), url("/fonts/Georgia.woff") format("woff");
}

:root {
  color-scheme: light dark;
}

.text-body-all {
  @apply text-body leading-body tracking-body font-normal font-primary;
}
.text-middle {
  @apply leading-[32px];
}

.text-caption-all {
  @apply text-caption leading-body tracking-body font-normal font-primary;
}

.text-heading-all {
  @apply text-heading leading-heading tracking-heading font-normal font-primary;
}



